<div class="container-fluid mt-5">
	<a href="{{ path('article_service.frontend_all') }}" class="btn btn-primary mb-3">
		<i class="fa fa-arrow-left"></i>
		Back
	</a>

	<div id="previewContainer"></div>
	<nav class="mt-4">
		<ul class="pagination mx-0" id="previewPagination"></ul>
	</nav>
</div>
